{% load change_extras %}
<ul class="nav list-unstyled">
  <li class="nav-item">
    {% change_list_item object %}
    <ul class="list-unstyled ml-3">
      {% for deployment in object.deployments %}
      <li class="nav-item">
        {% change_list_item deployment %}
        <ul class="list-unstyled ml-3">
          {% for collection_period in deployment.collection_periods %}
          <li class="nav-item">
            {% change_list_item collection_period %}
            <ul class="list-unstyled ml-3">
              {% for platform in collection_period.platforms %}
              <li class="nav-item">{% change_list_item platform %}</li>
              {% endfor %}
              <li class="nav-item">
                <a href="{% url 'change-add' 'platform' %}?parent={{ collection_period.uuid }}" class="btn btn-info">Add Platform</a>
              </li>

              {% for homebase in collection_period.homebases %}
              <li class="nav-item">{% change_list_item homebase %}</li>
              {% endfor %}
              <li class="nav-item">
                <a href="{% url 'change-add' 'homebase' %}?parent={{ collection_period.uuid }}" class="btn btn-info">Add Homebase</a>
              </li>

              {% for instrument in collection_period.instruments %}
              <li class="nav-item">{% change_list_item instrument %}</li>
              {% endfor %}
              <li class="nav-item">
                <a href="{% url 'change-add' 'instrument' %}?parent={{ collection_period.uuid }}" class="btn btn-info">Add Instrument</a>
              </li>
            </ul>
          </li>
          {% endfor %}
          <li class="nav-item">
            <a href="{% url 'change-add' 'collectionperiod' %}?parent={{ deployment.uuid }}" class="btn btn-info">Add Collection Period</a>
          </li>
        </ul>
      </li>
      {% endfor %}
      <li class="nav-item">
        <a href="{% url 'change-add' 'deployment' %}?parent={{ object.uuid }}" class="btn btn-info">Add Deployment</a>
      </li>
    </ul>
  </li>
</ul>
