{% extends "./base_list.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_extras %}
{% load render_table from django_tables2 %}

{% block header %}
<div class="col">
  <a href="{% url 'canonical-list' view_model %}">&lt; Back to {{ object.content_type.model_class | verbose_name_plural | title }}</a>
  <h1 class="my-5">{{ object.content_object.short_name }}</h1>
</div>
{% endblock header %}

{% block header_tabs %}
  {% if object %}
    {% object_header_tabs canonical_uuid %}
  {% endif %}
{% endblock header_tabs %}

{% block main %}
<div class="my-5">{% render_table table %}</div>
  
{% endblock %}
