{% extends "base.html" %} {% block extrahead %} {{ form.media }}
<style>
  .list-group.list-group-root {
    padding: 0;
    overflow: hidden;
  }

  .list-group.list-group-root .list-group {
    margin-bottom: 0;
  }

  .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }

  .list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
  }

  .list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
  }

  .list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
  }
</style>
{% endblock %} {% load crispy_forms_tags %} {% block content %}
<form method="post">
  <div class="row">
    <div class="col-8">
      <table class="table table-responsive">
        {% csrf_token %} {{ form | crispy }}
      </table>
    </div>
    <div class="col-4">

      <ul class="list-unstyled">
        <li>
          <a href="">{{ object }} ({{object.get_status_display}})</a>
          <ul>
            {% for deployment in object.deployments %}
            <li>
              <a href="">{{ deployment }} ({{deployment.get_status_display}})</a>
              <ul>
                {% for collection_period in deployment.collection_periods %}
                <li>
                  <a href="">{{ collection_period }} ({{collection_period.get_status_display}})</a>
                  <ul>
                    {% for platform in collection_period.platforms %}
                    <li>
                      <a href="">{{ platform }} ({{platform.get_status_display}})</a>
                    </li>
                    {% endfor %}
                    {% for homebase in collection_period.homebases %}
                    <li>
                      <a href="">{{ homebase }} ({{homebase.get_status_display}})</a>
                    </li>
                    {% endfor %}
                    {% for instrument in collection_period.instruments %}
                    <li>
                      <a href="">{{ instrument }} ({{instrument.get_status_display}})</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}

          </ul>
        </li>
      </ul>

      <hr />
      <table class="table table-responsive">
        {{ change_form | crispy }}
      </table>
      <input type="submit" value="Update" class="btn btn-info" />
    </div>
  </div>
</form>

{% endblock %}
