{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
<!-- {% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% translate "History" %}</a>
    </li>
    <li>
        <a href="mylink/" class="historylink">My Link</a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% translate "View on site" %}</a>
        </li>
    {% endif %}
{% endblock %} -->

{% block after_field_sets %}
<hr />
{# https://github.com/django/django/blob/master/django/contrib/admin/templates/admin/change_form.html#L48-L52 #}
{% for fieldset in modelform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}
