.active {
  font-weight: 700;
  color: white;
}

.nav-link {
  color: black;
}

.nav-link.collapsed .minus {
  display: none;
}

.nav-link:not(.collapsed) .plus {
  display: none;
}

th a {
  color: white;
}

td a {
  color: white;
  color: black;
  text-decoration: underline;
}

.inline-link {
  color: black;
  text-decoration: underline;
}

li.dropdown-tab a {
  display: table;
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

li.dropdown-tab:hover{
  cursor:pointer
}

.campaign-summary li.list-group-item {
  padding-bottom: 0;
}
.campaign-summary .list-group-item-primary, .campaign-summary .list-group-item-primary:hover {
  color: inherit;
}
.campaign-summary .list-group-item-primary .row, .campaign-summary .list-group-item-primary .col {
  border-color: #6c757d !important;
}
.campaign-summary .list-group-item-primary {
  padding-left: 15px; /* 21 - border-width */
  border-left: 6px solid;
}
.campaign-summary dt {
  font-size: 80%;
  text-transform: uppercase;
  color: #6c757d;
}
.campaign-summary dd {
  margin-bottom: 1em;
}
.campaign-summary .caret {
  display: none;
}
.campaign-summary .show-caret .caret {
  display: inline;
}