{% load humanize %}

<div class="card">
  <ul class="list-group list-group-flush">
    {% for approval in approval_logs %}
    <li class="list-group-item">
      
      
      <div>
        {% if show_link %}
        {{ approval.change.model_name }}
        <a class="inline-link" href="{% url 'change-update' approval.change.uuid %}">{% spaceless %}
          &ldquo;{% firstof approval.change.update.short_name approval.change.update.long_name approval.change.uuid %}&rdquo;
        {% endspaceless %}</a>
        {% else %}
         Draft
        {% endif %}
         was
        <span>{{ approval.get_action_display_past_tense }}</span> 
        {% if approval.user %} by {{ approval.user }}{% endif %}
      </div>

      {% if show_notes and approval.notes %}
      <q class="font-italic">{{ approval.notes }}</q>
      {% endif %}
      
      <div class="text-muted">
        <small title="{{ approval.date|date:'c' }}" class="mb-0">
          {{ approval.date | naturaltime }}
        </small>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
