{% extends "base.html" %}
{% load static %}
{% load active_link_tags %}
{% block extrahead %}
<link href="{% static 'css/admin.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="sidebar" class="row align-items-start">
  <div class="col-sm-2">
    <nav class="card">
      <ul class="nav flex-column list-group">
        <li class="nav-item list-group-item">
          <a class="nav-link {% active_link 'summary' 'active' strict=True %}" href="{% url 'summary' %}">Summary</a>
        </li>
        <li class="nav-item list-group-item">
          <a class="nav-link {% active_link 'campaign-list-published || campaign-list' 'active' %}" href="{% url 'campaign-list' %}">Campaigns</a>
        </li>
        <li class="nav-item list-group-item">
          <a class="nav-link {% active_link 'platform-list-published || platform-list' 'active' %}" href="{% url 'platform-list' %}">Platforms</a>
        </li>
        <li class="nav-item list-group-item">
          <a class="nav-link {% active_link 'instrument-list-published || instrument-list' 'active' %}" href="{% url 'instrument-list' %}">Instruments</a>
        </li>
        <li class="nav-item list-group-item">
          <a class="nav-link {% active_link 'organization-list-published || organization-list' 'active' %}" href="{% url 'organization-list' %}">Partner Organizations</a>
        </li>
        {% if request.user.is_admg_admin %}
        <li class="nav-item list-group-item dropdown-tab">
          <span class="nav-link d-flex cursor-pointer {% if 'limitedfields' in request.path %}active{% else %}collapsed{% endif %}" data-toggle="collapse" data-target="#limited-fields-submenu">
            Limited Fields
            <svg class="minus ml-auto my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"> <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" /> </svg>
            <svg class="plus ml-auto my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"> <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/> </svg>
          </span>
          <ul id="limited-fields-submenu" class="list-group list-group-flush collapse mt-2 {% active_link 'science-list' 'show' %}">


            <li class="nav-item list-group-item dropdown-tab">
              <span class="nav-link d-flex cursor-pointer {% if 'limitedfields' in request.path %}active{% else %}collapsed{% endif %}" data-toggle="collapse" data-target="#gcmd-fields-submenu">
                GCMD Items
                <svg class="minus ml-auto my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"> <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" /> </svg>
                <svg class="plus ml-auto my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"> <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/> </svg>
              </span>

              <ul id="gcmd-fields-submenu" class="list-group list-group-flush collapse mt-2 {% active_link 'science-list' 'show' %}">
                
                <li class="list-group-item">
                  <a href="{% url 'gcmd_project-list' %}" class="mx-0 {% active_link 'gcmd_project-list' %}">
                    GCMD Projects
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="{% url 'gcmd_instrument-list' %}" class="mx-0 {% active_link 'gcmd_instrument-list' %}">
                    GCMD Instruments
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="{% url 'gcmd_platform-list' %}" class="mx-0 {% active_link 'gcmd_platform-list' %}">
                    GCMD Platforms
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="{% url 'gcmd_phenomena-list' %}" class="mx-0 {% active_link 'gcmd_phenomena-list' %}">
                    GCMD Phenomena
                  </a>
                </li>

              </ul>

            </li>


            <li class="list-group-item">
              <a href="{% url 'science-list' %}" class="mx-0 {% active_link 'science-list' %}">
                Science Concepts
              </a>
            </li>
            <li class="list-group-item">
              <a href="{% url 'measure-platform-list' %}" class="mx-0 {% active_link 'measure-platform-list' %}">
                Measurement &amp; Platform Items
              </a>
            </li>
            <li class="list-group-item">
              <a href="{% url 'region-season-list' %}" class="mx-0 {% active_link 'region-season-list' %}">
                Geographical Region &amp; Season Items
              </a>
            </li>
            <li class="list-group-item">
              <a href="{% url 'website-list' %}" class="mx-0 {% active_link 'website-list' %}">
                Website Items
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-sm-10">
    {% block page %}
    <p>page info</p>
    {% endblock page %}
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

