{% extends "api_app/base_crud.html" %}
{% load active_link_tags %}

{% block maintabs %}
  {# Tabs #}
  <div class="col pb-3">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link {% if 'draft' in request.path %} active {% endif %}" href="{% url 'change-list' model_name %}" role="tab" aria-controls="details" aria-selected="true">
          Drafts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'published' in request.path %} active {% endif %}" href="{% url 'published-list' model_name %}" role="tab" aria-controls="details" aria-selected="true">
          Published Content
        </a>
      </li>
    </ul>
  </div>
{% endblock maintabs %}

