{% extends "api_app/base_crud.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load template_extras %}

{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
{{ model_form.media.css }}
{% endblock %}

{% block object_details %}
  <div class="col">
    <dl class="row object-details mb-1">
      <div class="col">
        <dt>Status</dt>
        <dd>
          <span title="Status">{{ object.get_status_display }}</span>
        </dd>
      </div>
      
      <div class="col">
        <dt>Item Type</dt>
        <dd>
          <span title="Item Type">{{ object.model_name | get_display_name }}</span>
        </dd>
      </div>
          
      <div class="col">
        <dt>Action</dt>
        <dd>
          <span title="Action">{{ object.action }}</span>
        </dd>
      </div>
    </dl>
  </div>
{% endblock object_details %}

{% block javascript %}
  {{ block.super }}
  <script>
    // Make dropdown more resistant to accidental closes (https://stackoverflow.com/a/32922725/728583)
    $(document).on('click', '.dropdown-menu', function (e) {
      e.stopPropagation();
    });
  </script>
{% endblock %}
