{% extends "api_app/campaign_detail.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block main %}
<div class="col">
  <h3>Recommended DOIs</h3>

  <div class="alert alert-warning" role="alert">
    This view is still in development and only provided to illustrate
    a rough example of how to fetch DOI. Reviewing DOIs is still under
    development.
  </div>

  <form method="post" novalidate>
    {% csrf_token %}
    <table class="table">
      <thead>
        {% for form_row in form %}
        {% if forloop.first %}
        <tr>
          <th scope="col">
            <label>
              DOI Link
            </label>
          </th>
          {% for field in form_row.visible_fields %}
          {% if field.name != 'doi' %}
          <th scope="col">{{ field.label_tag }}</th>
          {% endif %}
          {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
      </thead>
      <tbody>
        {% for hidden in form_row.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for form_row in form %}
        <tr>
          <td>
            <a href="//doi.org/{{ form_row.initial.doi }}" target="_blank">
              {{ form_row.initial.doi }}
            </a>
          </td>
          {% for field in form_row.visible_fields %}
          {% if field.name != 'doi' %}
          <td>{{ field}}</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h3>Generate DOI Recommendations</h3>
  <p>
    The DOI matcher will search for DOIs based on this campaigns <code>short_name</code>.
    If you have not made the Instrument, Platforms, or CDPIs, the DOI matcher won't be able
    to automatically relate proposed DOIs to the records. After creating Instruments, Platforms,
    or CDPIs, it is recommended to re-run the DOI matcher to update the proposed DOIs.
  </p>

  <ul class="list-group">
    {% for task in doi_tasks %}
    <li class="list-group-item list-group-item-action flex-column align-items-start collapsed" data-toggle="collapse"
      data-target="#task_{{ task.id }}_details">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ task.status }}</h5>
        {% firstof task.date_done|naturaltime task.date_created|naturaltime as task_date %}
        <small>{{ task_date }}</small>
      </div>
      <dl id="task_{{ task.id }}_details" class="collapse">
        <dt>Started</dt>
        <dd>{{ task.date_created | naturaltime }}</dd>

        <dt>Completed</dt>
        <dd>{{ task.date_done | naturaltime }}</dd>

        <dt>Runtime</dt>
        <dd>{{ task.date_done | timesince:task.date_created }}</dd>

        <dt>Task ID</dt>
        <dd><small class="text-monospace">{{ task.task_id }}</small></dd>
      </dl>
    </li>
    {% endfor %}
  </ul>
  <form action="{% url 'mi-doi-fetch' object.uuid %}" method="post">
    {% csrf_token %}
    <button class="btn btn-lg btn-primary">Fetch DOIs</button>
  </form>
</div>
{% endblock main %}