{% extends "api_app/campaign_detail.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block main %}
<div class="col">

  <div class="row">
    <div class="col">
      <h2>Generate DOI Recommendations</h2>
      <p>
        The DOI matcher will search for DOIs based on this campaigns <code>short_name</code>.
        If you have not made the Instrument, Platforms, or CDPIs, the DOI matcher won't be able
        to automatically relate proposed DOIs to the records. After creating Instruments, Platforms,
        or CDPIs, it is recommended to re-run the DOI matcher to update the proposed DOIs.
      </p>
      <form action="{% url 'mi-doi-fetch' object.uuid %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary">Generate DOIs &plus;</button>
      </form>
    </div>

    <div class="col-4">
      <h4>Past Fetches</h4>
      <div class="alert alert-warning alert-dismissible" role="alert">
        This currently displays only fetches for any Campaign that have completed. In the future,
        it should display fetchs for only the campaign on the current view and for the fetches as
        soon as they're scheduled.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul class="list-group">
        {% for task in doi_tasks %}
        <li class="list-group-item list-group-item-action flex-column align-items-start collapsed"
          data-toggle="collapse" data-target="#task_{{ task.id }}_details">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ task.status }}</h5>
            {% firstof task.date_done|naturaltime task.date_created|naturaltime as task_date %}
            <small>{{ task_date }}</small>
          </div>
          <dl id="task_{{ task.id }}_details" class="collapse">
            <dt>Started</dt>
            <dd>{{ task.date_created | naturaltime }}</dd>

            <dt>Completed</dt>
            <dd>{{ task.date_done | naturaltime }}</dd>

            <dt>Runtime</dt>
            <dd>{{ task.date_done | timesince:task.date_created }}</dd>

            <dt>Task ID</dt>
            <dd><small class="text-monospace">{{ task.task_id }}</small></dd>
          </dl>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="mt-4">Recommended DOIs</h2>
      {{ formset.management_form|crispy }}
      {% crispy formset %}
    </div>
  </div>
</div>
{% endblock main %}