{% extends "./form_capable.html" %}
{% load static %}
{% load model_helpers %}
{% load humanize %}
{% load template_extras %}

{% block header %}
  <div class="col">
    {% include 'snippets/breadcrumbs.html' with ancestors=ancestors %}

    <a href="{% spaceless %}
        {% if "back" in request.GET %} {{ request.GET.back }}
        {% else %}{% url back_button %}
        {% endif %}
        {% endspaceless %}">
      &larr; Back
    </a>
    <h1>{{ short_name | default:object.uuid }}</h1>
  </div>
{% endblock header %}

{% block main %}
  {% with main_class="col-lg-8" %}
    {{ block.super }}
  {% endwith %}
  
  {# Sidebar #}
  <aside class="col col-lg-4">

    <h3>Activity</h3>
    {% include 'snippets/related_approval_logs.html' with approval_logs=object.approvallog_set.all show_notes=True%}

    <hr />

    <details class="small">
      <summary>Debug Data</summary>

      <pre>Update: {{ object.update | pprint }}</pre>
      <pre>Previous: {{ object.previous | pprint }}</pre>
    </details>

  </aside>
{% endblock main%}

{% block form %}
<br>
<!-- New Path -->
{% if gcmd_path.new_path %}
  <p class="gcmd-label">New Path</p>
  {% include 'snippets/gcmd_path.html' with preliminary_text="" default_class="gcmd-box-background" gcmd_path_class="gcmd-path" path_attribute="new_value" gcmd_path=gcmd_path %}
  {% include 'snippets/gcmd_path.html' with preliminary_text="" default_class="gcmd-footer" gcmd_path_class="gcmd-footer" path_attribute="key" gcmd_path=gcmd_path %}
{% endif %}

<!-- Previous Path -->
{% if gcmd_path.old_path %}
  <p class="gcmd-label">Previous Path</p>
  {% include 'snippets/gcmd_path.html' with preliminary_text="" default_class="gcmd-box-background" gcmd_path_class="gcmd-path" path_attribute="old_value" gcmd_path=gcmd_path %}
  {% include 'snippets/gcmd_path.html' with preliminary_text="" default_class="gcmd-footer" gcmd_path_class="gcmd-footer" path_attribute="key" gcmd_path=gcmd_path %}
{% endif %}

<!-- Recommended CASEI Section -->
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p class="gcmd-label">Recommended GCMD Keyword Changes</p>
<p>We have found {{affected_records | length }} potentially affected record(s).</p>
  <form action="{% url 'change-gcmd' object.uuid %}" method="post" id="connectionForm">
    {% csrf_token %}
    {% if affected_records %}
      <table class="affected-table">
        <tr class="affected-row">
          <th>Affected Record</th>
          <th>Category</th>
          <th>Status</th>
          <th>Previously Associated</th>
          <th>Associate With Keyword</th>
        </tr>
        {% for record in affected_records %}
          <tr>
              <td><a href="{% url 'published-detail' pk=record.link.casei_uuid model=record.link.model %}?back={{ request.path }}">{{record.row.short_name}}</a></td>
            </a>
            <td>{{record.category}}</td>
            <td>{{record.status}}</td>
            <td>{{record.is_connected}}</td>
            <td>
              <!-- Connect/Ignore radio buttons -->
              <input
                type="radio"
                class="associate-radio"
                id="connect-{{record.row.short_name}}"
                name="choice-{{record.row.uuid}}"
                value="True"
                required
                {% ifequal record.current_selection True %} checked {% endifequal %}
                {% if action == 'Delete' %} disabled {% endif %}>
              <label for="connectChoice-{{record.row.short_name}}">Yes</label>
              <input
                type="radio"
                class="associate-radio"
                id="ignore-{{record.row.short_name}}"
                name="choice-{{record.row.uuid}}"
                value="False"
                required
                {% ifequal record.current_selection False %} checked {% endifequal %}
                {% if action == 'Delete' %} disabled {% endif %}>
              <label for="ignoreChoice-{{record.row.short_name}}">No</label>
            </td>
          </tr>
        {% endfor %}
      </table>
      <!-- Pass the UUIDs to the backend. -->
      {% with affected_records|last as last %}
        <input type="hidden" name="related_uuids" value="{{last.uuids}}">
      {% endwith %}
    {% endif %}
    <button class="btn btn-primary" id="saveButton" name="user_button" value="Save">Save Progress</button>
    <button type="submit" class="right-side btn btn-primary" id="doneButton" name="user_button" value="Publish">Save & Publish</button>
  </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  function convertCheckedToBool(bool) {
    return bool !== undefined;
  }
  function getOtherChoiceUUID(choice) {
    var choiceType = choice.attr("id").split('-')[0];
    if (choiceType === "connect") {
      return choice.attr("id").replace("connect", "ignore");
    }
    else if (choiceType === "ignore") {
      return choice.attr("id").replace("ignore", "connect");
    }
  }

  $(document).ready(function() {
    var checkButtons = {}
    $(".associate-radio").each(function(index) {
        checkButtons[$(this).attr("id")] = convertCheckedToBool($(this).attr("checked"));
    });

    // Deselectable radio buttons
    $(".associate-radio").click(function(event) {
      console.log($(this).attr("id"), " Current Selection: ", checkButtons[$(this).attr("id")]);
      var otherID = getOtherChoiceUUID($(this));
      checkButtons[otherID] = false;
      var $otherChoice = $('#'+otherID).prop("checked", false);

      // If the option is already selected, deselect it.
      if( checkButtons[$(this).attr("id")] ) {
        $(this).prop("checked", false);
        checkButtons[$(this).attr("id")] = false;
      }
      else {
        $(this).prop("checked", true);
        checkButtons[$(this).attr("id")] = true;
      }
    });

    // Form validation for 'Save & Publish' button
    $("#doneButton").click(function(event) {
      $("input.associate-radio").each(function(index) {
        if (!$(this).prop("validity").valid){
            $(this).reportValidity();
            return false;
        }
      });

      // Submit button conformation
      confirm_response = confirm("Confirm these changes? The GCMD Object and its relationship CASEI objects will be published!");
      if (confirm_response == true) {
        $('#connectionForm').submit();
      }
      else {
        event.preventDefault();
        return false;
      }
    });

    // Save Button Form Submission
    $("#saveButton").click(function(event) {
        $(".associate-radio").removeAttr("required");
        $('#connectionForm').submit();
    });
  });
</script>
{% endblock form %}