{% extends "api_app/base.html" %}
{% load change_extras %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block page %}

<div class="container-fluid">
  <div class="row mt-4 mb-5">
    <div class="col-auto mr-auto">
      <h1>{{ display_name }} Drafts</h1>
    </div>
    <div class="col-auto">
      <a class="btn btn-dark" href="{% url 'change-add' model %}">Add New {{ display_name }} + </a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <p>filter button here</p>
  {% block content %}
  <form action="" method="get" class="form form-inline">
    {% bootstrap_form filter.form layout='inline' %}
    {% bootstrap_button 'filter' %}
  </form>
  {% endblock content %}
  {% render_table table %}
</div>

{% endblock %}

{% related_changes change %}