{% extends "api_app/base_read.html" %}
{% load static %}
{% load model_helpers %}
{% load humanize %}

{% block header %}
  <div class="col">
    {% include 'snippets/breadcrumbs.html' with ancestors=ancestors %}

    <a href="{% spaceless %}
        {% if "back" in request.GET %} {{ request.GET.back }}
        {% else %}{% url back_button %}
        {% endif %}
        {% endspaceless %}">
      &larr; Back
    </a>
    {% if action == 'Delete' %}
    <h1>{{ object.previous.short_name | default:object.uuid }}</h1>
    {% else %}
    <h1>{{ object.update.short_name | default:object.uuid }}</h1>
    {% endif %}
  </div>
{% endblock header %}

{% block actions %}
  <div class="px-1">
    {% include "snippets/approval_dropdown.html" %}
  </div>

  <div class="px-1">
    <button 
      class="btn btn-primary" 
      form="model-form" 
      formnovalidate
      {% if disable_save %}disabled{% endif %}
    >
      Save
    </button>
    <button 
      class="btn btn-secondary" 
      form="model-form" 
      name="_validate"
    >
      Validate
    </button>
  </div>
{% endblock actions %}

{% block main %}
  {% with main_class="col-lg-8" %}
    {{ block.super }}
  {% endwith %}
  
  {# Sidebar #}
  <aside class="col col-lg-4">
    <!-- {% if object.update.logo %}
    <h3>Logo</h3>
    <a href="{% url 'change-update' object.update.logo %}">
      {% if object.logo_path %}
      <img class="img-thumbnail" src="{{ object.logo_path | get_full_url }}" />
      {% else %}
      <span class="font-italic">(logo missing image)</span>
      {% endif %}
    </a> -->

    <!-- <hr />
    {% endif %} -->

    <h3>Activity</h3>
    {% include 'snippets/related_approval_logs.html' with approval_logs=object.approvallog_set.all show_notes=True%}

    <hr />

    <details class="small">
      <summary>Debug Data</summary>

      <pre>{{ object.update | pprint }}</pre>
    </details>

  </aside>
{% endblock main%}

{% block form %}
<br>
<!-- New Path -->
{% if gcmd_path.new_path %}
  <p class="gcmd-label">New Path</p>
  <p class="gcmd-path">
      {% for attribute in gcmd_path.path %}
          <span style="color:{% if attribute.has_changed %} #D6311C {% else %} black {% endif %};">{{attribute.new_value}}</span>
          {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
      {% endfor %}
  </p>
  <p class="gcmd-footer">
      {% for attribute in gcmd_path.path %}
          <span style="color:{% if attribute.has_changed %} #D6311C {% else %} rgba(68, 63, 63, 0.64) {% endif %};">{{attribute.key}}</span>
          {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
      {% endfor %}
  </p>
{% endif %}
<!-- Old Path -->
{% if gcmd_path.old_path %}
    <p class="gcmd-label">Old Path</p>
    <p class="gcmd-path">
        {% for attribute in gcmd_path.path %}
            <span style="color:{% if attribute.has_changed %} #D6311C {% else %} black {% endif %};">{{attribute.old_value}}</span>
            {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
        {% endfor %}
    </p>
    <p class="gcmd-footer">
        {% for attribute in gcmd_path.path %}
            <span style="color:{% if attribute.has_changed %} #D6311C {% else %} rgba(68, 63, 63, 0.64) {% endif %};">{{attribute.key}}</span>
            {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
        {% endfor %}
    </p>
{% endif %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p class="gcmd-label">Recommended GCMD Keyword Changes</p>
<p>We have found {{affected_records | length }} potentially affected record(s)</p>
    {% if affected_records %}
        <form action="{% url 'change-gcmd' object.uuid %}" method="post" id="connectionForm">
            <table class="affected-table">
                <tr class="affected-row">
                    <th>Affected Record</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Previously Associated</th>
                    <th>Associate With Keyword</th>
                </tr>
                {% for record in affected_records %}
                    <tr>
                        <!-- TODO: href should follow {% url 'some-url-name' arg arg2 as the_url %} -->
                            <td><a href="{{record.link}}">{{record.row.short_name}}</a></td>
                        </a>
                        <td>{{record.category}}</td>
                        <td>{{record.status}}</td>
                        <td>{{record.is_connected}}</td>
                        <td>
                            {% csrf_token %}
                            <!-- <input type="radio" id="ignoreChoice" checked="{{record.currentSelection.ignore}}"> -->
                            <input type="radio" class="choiceRadio" id="connectChoice-{{record.row.uuid}}" name="choice-{{record.row.uuid}}" value="True" "{% if record.currentSelection.connect %} checked {% else %} {% endif %};" "{% if action == 'Delete' %} disabled {% else %} {% endif %};">
                            <label for="connectChoice-{{record.row.short_name}}" class="review-button">Yes</label>
                            <!-- <button type="button" class="choiceRadio" id="connectChoice-{{record.row.short_name}}" name="choice-{{record.row.short_name}}" value="True" onclick="changeState(this)">Yes</button> -->
                            <!-- <input type="radio" id="connectChoice" checked="{{record.currentSelection.connect}}"> -->
                            <input type="radio" class="choiceRadio" id="ignoreChoice-{{record.row.uuid}}" name="choice-{{record.row.uuid}}" value="False" "{% if record.currentSelection.ignore %} checked {% else %} {% endif %};" "{% if action == 'Delete' %} disabled {% else %} {% endif %};">
                            <label for="ignoreChoice-{{record.row.short_name}}" class="review-button">No</label>
                            <!-- <button type="button" class="choiceRadio" id="ignoreChoice-{{record.row.short_name}}" name="choice-{{record.row.short_name}}" value="True" onclick="changeState(this)">No</button> -->
                        </td>
                        <!-- <form action="{% url 'change-gcmd' object.uuid %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="related_uuid" value="{{record.row.uuid}}">
                            <button class="review-button">Mark Reviewed</button>
                        </form> -->
                        <!-- <td><button class="review-button">Mark Reviewed</button></td> -->
                    </tr>
                    <br>
                {% endfor %}
            </table>
            {% with affected_records|last as last %}
                <input type="hidden" name="related_uuids" value="{{last.uuids}}">
                <label for="related_uuids" class="review-button"></label>
            {% endwith %}

            <button type="submit" class="submit-button" id="saveButton" name="user_button" value="Save">Save Progress</button>
            <!-- <label for="saveButton" class="review-button">Save</label> -->
            <button type="submit" class="right submit-button" id="doneButton" name="user_button" value="Publish">Save & Publish</button>
            <!-- <label for="doneButton" class="review-button">Done</label> -->

            <!-- <input type="hidden" name="save_button">
            <button name="saveButton" value="save" class="review-button">Save</button>
            <input type="hidden" name="done_button">
            <button name="doneButton" value="done" class="review-button">Done</button> -->
        </form>
    {% endif %}


<!-- TODO: Figure out if this jquery import is needed! -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var check_buttons = {}
        console.log("Check Buttons created!!!");
        $(".choiceRadio").each(function(index) {
            console.log($(this).attr("id"), ": ", $(this).attr("checked"));
            check_buttons[$(this).attr("id")] = $(this).attr("checked");
        });
        console.log("Check Buttons: ", check_buttons);

        $(".choiceRadio").click(function() {
            var $self = $(this);
            console.log("checked : ", $self);
            console.log("Attr: ", $self.attr("checked"));
            // If the option is already selected, deselect it.
            // if( $self.is(':checked') ) {
            if( $self.attr("checked") == 'checked' ) {
                check_buttons[$self.attr("name")] = true;
                console.log("SELF before: ", $self);
                console.log("Is checked!");
                // $self.attr("checked", false);
                // setTimeout(function(){$self.removeAttr('checked');},100);
                $self.prop("checked", false);
                console.log("SELF after: ", $self);
                // setTimeout(function(){$self.removeAttr('checked');},0);
            }
            else {
                check_buttons[$self.attr("name")] = false;
                console.log("Not checked!");
                $self.prop("checked", true);
            }
        });

        // Submit button conformation
        $("#doneButton").click(function(event) {
          confirm_response = confirm("Confirm these changes? The GCMD Object and its relationships to CASEI objects will be published!");
          console.log("Confirm Results: ", confirm_response);
          console.log("Confirm Event: ", event);
          if (confirm_response == true) {
            $('#connectionForm').submit();
            console.log("User clicked 'ok'!");
          }
          else {
            event.preventDefault();
            console.log("User clicked 'cancel'!");
            console.log("Event Default: ", Object.keys(event));
            return false;
          }
        });

        // $(".choiceRadio:checked").click(function() {
        //     var $self = $(this);
        //     console.log("SELF before: ", $self);
        //     console.log("Is checked!");
        //     $self.prop("checked", false);
        // });
        // $(".choiceRadio:not(checked)").click(function() {
        //     var $self = $(this);
        //     console.log("Is NOT checked!");
        //     $self.prop("checked", true);
        // });

    });

    // $(document).ready(function() {
    //     var choiceMap = {};
    //     var context = '{{ default_buttons|escapejs }}';
    //     console.log("DJANGO: ", context);
    //     JSON.parse(context);
        

    //     // context.forEach(element => {
    //     //     console.log("Element: ", element)
    //     // });

    // });

    // function changeState(select) {
    //     console.log("Select: ", select);
    //     console.log("Select ID: ", select.id);
    //     const btn = document.querySelector(select.id);
    //     // btn.style.color = btn.style.color == "black" ? "dodgerblue" : "black"
    //     console.log(btn);
    //     console.log(btn.style.color);
    // };

    // function publishKeyword(event) {
    //   console.log("Button Clicked!");
    //   confirm_response = confirm("Confirm these changes? The GCMD Object and its relationships to CASEI objects will be published!");
    //   console.log("Confirm Results: ", confirm_response);
    //   console.log("Confirm Event: ", event);
    //   if (confirm_response == true) {
    //     $('#connectionForm').submit();
    //     console.log("User clicked 'ok'!");
    //   }
    //   else {
    //     // event.preventDefault();
    //     console.log("User clicked 'cancel'!");
    //     console.log("Event Default: ", Object.keys(event));
    //     return false;
    //   }
    //   const btn = document.querySelector(event.id);
    //   // btn.style.color = btn.style.color == "black" ? "dodgerblue" : "black"
    //   console.log(btn);
    //   console.log(btn.style.color);
    // };

</script>
{% endblock form %}
