{% extends "api_app/change_update.html" %}
{% load crispy_forms_tags %}
{% load template_extras %}

{% block form_body %}
<div class="row">
    <div class="col-lg-6 col-sm-4">
      New Version
    </div>
    <div class="col-lg-6 col-sm-4">
      Old Version
    </div>
  </div>
  {% for field1, field2 in model_form|zip:noneditable_published_form %}
    <div class="row">
      <div class="col-lg-6 col-sm-4">
        {{ field1 | as_crispy_field }}
      </div>
      <div class="col-lg-6 col-sm-4">
        {{ field2 | as_crispy_field }}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock form_body %}
