{% extends "api_app/base.html" %}
{% load change_extras %}
{% load crispy_forms_tags static %}
{% load render_table from django_tables2 %}

{% block page %}

<header class="row mx-3 my-5 py-2 align-items-center sticky-top bg-white border-bottom">
  <div class="col-auto mr-auto px-0">
    <h1>{{ display_name }} Drafts</h1>
  </div>
  <div class="col-auto px-0">
    {% if is_multi_listview %}
      <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Add New Item +</button>
      <div class="dropdown-menu">
        <form>
          {% for item in item_types %}
          <button class="btn btn-light"><a href="{% url 'change-add' item %}">{{ item }}</a></button>
          {% endfor %}
        </form>
      </div>
    {% else %}
    <a class="btn btn-dark" href="{% url 'change-add' model %}">
      Add New {{ display_name }} +
    </a>
    {% endif %}
  </div>
</header>

<main class="row mx-3 my-5">
  <div class="w-100">
    {% if filter %}
    <form action="" method="get" class="form form-inline">
      {{ filter.form | crispy }}
      <button class="btn btn-dark btn-sm">Filter</button>
      <a class="btn btn-light btn-sm" href="{% url 'change-list' %}">Clear filters</a>
    </form>
    {% endif %}
    {% render_table table %}
  </div>
</main>

{% endblock %}

{% related_changes change %}