{% block header %}
<div class="col-auto">

    <button class="btn btn-primary" form="{% if request.is_ajax %}popup-form{% else %}create-edit-form{% endif %}" formnovalidate>Save</button>
    <button class="btn btn-secondary" form="{% if request.is_ajax %}popup-form{% else %}create-edit-form{% endif %}" name="_validate">Validate</button>
    {% if request.is_ajax %}
    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
    {% endif %}
</div>
{% endblock header %}

{% block main %}
{% include "api_app/change_form.html" %}
{% endblock main %}