{% extends "api_app/base_read.html" %}
{% load crispy_forms_tags %}
{% load active_link_tags %}
{% load static %}

{% block form %}
{{ form.errors }}
<form id="model-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% block form_body %}
        {{ model_form | crispy }}
    {% endblock form_body %}
    {% for field in form %} {{ field.as_hidden }} {% endfor %}
</form>

<!-- TODO: Put this in a snippet -->
<h5>New Path</h5>
<p>
    {% for attribute in gcmd_path.path %}
        <span style="color:{% if attribute.has_changed %} red {% else %} black {% endif %};">{{attribute.new_value}}</span>
        {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
    {% endfor %}
</p>
{% if gcmd_path.old_path %}
    <h5>Old Path</h5>
    <p>
        {% for attribute in gcmd_path.path %}
            <span style="color:{% if attribute.has_changed %} red {% else %} black {% endif %};">{{attribute.old_value}}</span>
            {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
        {% endfor %}
    </p>
{% endif %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h2>Recommended GCMD Keyword Changes</h2>
<p>We have found {{affected_records | length }} potentially affected record(s)</p>
<ol>
    <li>First, make sure this GCMD keyword is published before reviewing affected records.</li>
    <li>Adding this GCMD keyword to an affected record will automatically remove it from the table below.</li>
    <li>If no changes are required, you can manually "Mark as Reviewed" to remove the item from the list below.</li>
</ol>
    {% if affected_records %}
        <table class="affected-table">
            <tr class="affected-row">
                <th>Affected Record</th>
                <th>Category</th>
                <th>Status</th>
                <th>Mark Reviewed</th>
            </tr>
            {% for record in affected_records %}
                <tr>
                    <!-- TODO: href should follow {% url 'some-url-name' arg arg2 as the_url %} -->
                        <td><a href="{{record.link}}">{{record.row.short_name}}</a></td>
                    </a>
                    <td>{{record.category}}</td>
                    <td>{{record.status}}</td>
                    <td><button class="review-button">Mark Reviewed</button></td>
                </tr>
                <p></p>
            {% endfor %}
        </table>
    {% endif %}
{% endblock form %}