{% extends "api_app/base.html" %}
{% load change_extras crispy_forms_tags static %}

{% block extrahead %}
{{ block.super }}
{{ form.media }}
{{ model_form.media }}
{% endblock %}

{% block page %}
<div class="container-fluid">
  <header class="row mx-3 my-5 py-2 align-items-center sticky-top bg-white">
    <div class="col-auto mr-auto px-0">
      <h1>Create {{ content_type_name }} draft</h1>
    </div>
    <div class="col-auto px-0">
      <button class="btn btn-info">Submit</button>
    </div>
  </header>

  <main class="mx-3 my-5">
    <form method="post">
      {% csrf_token %}
      {{ model_form | crispy }}
      {% for field in form %} {{ field.as_hidden }} {% endfor %}
      <button class="btn btn-info">Submit</button>
    </form>
    {{ form.errors }}
  </main>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  // Mark all required inputs as not-required (but store required as data-required attribute)
  ['input', 'textarea', 'select'].forEach(function (value) {
    $(value + '[required]')
      .attr('data-required', true)
      .attr('required', false);
  })
</script>
{% endblock %}
