{% extends "api_app/base_read.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block header %}
  <div class="col">
    <a href="{% spaceless %}
        {% if "next" in request.GET %} {{ request.GET.next }}
        {% elif object.model_name == "Campaign" %}{% url back_button.0 back_button.1 %}
        {% elif object.model_name in campaign_subitems and object.update.campaign %}{% url back_button.0 back_button.1 %}
        {% comment %} {% elif object.model_name == 'Website' %}{% url 'mi-change-update' object.update.campaign %} {% endcomment %}
        {% else %}{% url back_button %}
        {% endif %}
        {% endspaceless %}">
      &larr; Back
    </a>
    {% if object.content_type.model == 'website' %}
    <h1>{{ object.update.title | default:object.uuid }}</h1>
    {% else %}
    <h1>{{ object.update.short_name | default:object.uuid }}</h1>
    {% endif %}
  </div>
{% endblock header %}

{% block actions %}
  <div class="px-1">
    {% include "snippets/approval_dropdown.html" %}
  </div>

  <div class="px-1">
    <button class="btn btn-primary" form="model-form" formnovalidate>Save</button>
    <button class="btn btn-secondary" form="model-form" name="_validate">Validate</button>
  </div>
{% endblock actions %}

{% block main %}
  <main class="col-8">
    {{ form.errors }}
    <table class="table table-responsive">
      <form method="post" id="model-form">
        {% csrf_token %}
        {% for field in form %} {{ field.as_hidden }} {% endfor %}
        {{ model_form | crispy }}
      </form>
    </table>
  </main>

  {# Sidebar #}
  <aside class="col-sm-4">

    <h3>Activity</h3>
    {% include 'snippets/related_approval_logs.html' with approval_logs=object.approvallog_set.all show_notes=True%}

    <hr />
    
    <h3>Related Fields</h3>
    {% include 'snippets/related_fields.html' with related_fields=related_fields%}

  </aside>
{% endblock main%}
