{% extends "api_app/base.html" %}
{% load change_extras crispy_forms_tags static %}

{% block extrahead %}
{{ block.super }}
{{ form.media }}
{{ model_form.media }}
{% endblock %}

{% block page %}

<header class="mx-3 my-3 py-2 sticky-top bg-white border-bottom">
  <div class="row">
    <div class="col">
      <a href="{% url 'change-list' %}">&larr; Back</a>
      <h1>{{ object.update.short_name | default:object.uuid }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <h6>STATUS</h6>
      <p>{{ object.get_status_display }}</p>
    </div>

    <div class="col-sm-2">
      <h6>ITEM TYPE</h6>
      <p>{{ object.model_name }} </p>
    </div>

    <div class="col-sm-2">
      <h6>ACTION</h6>
      <p>{{ object.action }}</p>
    </div>

    <div class="col d-flex flex-row-reverse">

      <div class="px-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" {% if not transition_form.fields.transition.choices|length %} disabled="true" {% endif %}
          aria-expanded="false">Approval Actions
        </button>

        <div class="dropdown-menu">
          <form action="{% url 'change-transition' object.uuid %}" method="post" class="px-4 py-3">
            {% csrf_token %}
            {{ transition_form | crispy }}
            <button class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <div class="px-1">
        <button class="btn btn-primary" form="model-form" formnovalidate>Save</button>
        <button class="btn btn-secondary" form="model-form" name="_validate">Validate</button>
      </div>
    </div>

  </div>
</header>

<div class="row mx-3 my-3 py-2 ">
  {# Main Content #}
  <main class="col-8 pl-0">
    {{ form.errors }}
    <table class="table table-responsive">
      <form method="post" id="model-form">
        {% csrf_token %}
        {% for field in form %} {{ field.as_hidden }} {% endfor %}
        {{ model_form | crispy }}
      </form>
    </table>
  </main>

  {# Sidebar #}
  <aside class="col-sm-4">

    <h3>Related Data</h3>
    {% related_changes change %}

    <hr />

    <h3>History</h3>
    {% related_approval_logs approvals %}

    <hr />

    <h3>Raw Data</h3>
    <code>{{ object.update | pprint }}</code>

  </aside>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  // Make dropdown more resistant to accidental closes (https://stackoverflow.com/a/32922725/728583)
  $(document).on('click', '.dropdown-menu', function (e) {
    e.stopPropagation();
  });
</script>
{% endblock %}