{% extends "api_app/base.html" %}
{% load change_extras crispy_forms_tags static %}

{% block extrahead %}
{{ block.super }}
{{ form.media }}
{{ model_form.media }}
{% endblock %}

{% block page %}
<header class="row mx-3 my-5 py-2 align-items-center sticky-top bg-white border-bottom">
  <div class="col-auto mr-auto px-0">
    <h1>Add new {{ content_type_name }} draft</h1>
  </div>
  <div class="col-auto px-0">
    <button class="btn btn-primary" form="model-form" formnovalidate>Save</button>
    <button class="btn btn-secondary" form="model-form">Validate & Save</button>
  </div>
</header>

<main class="mx-3 my-5">
  <form id="model-form" method="post">
    {% csrf_token %}
    {{ model_form | crispy }}
    {% for field in form %} {{ field.as_hidden }} {% endfor %}
  </form>
  {{ form.errors }}
</main>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
</script>
{% endblock %}