{% extends "api_app/base.html" %}
{% load change_extras %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-4 pb-5">
        <div class="col-auto mr-auto">
            <h1>Campaign {{ change }}</h1>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Add new item + </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="">View campaign details</a>
        </div>
    </div>
    <div class="row pt-4 pb-5">
        <div class="col">
            <button class="btn btn-primary">Submit for review</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row pt-4">
        <div class="col p-0">
            <ul class="list-group">
                {% for deployment in object_list %}
                <li class="list-group-item deployment" data-id="{{ deployment.uuid }}">
                    {{ deployment }}
                </li>
                {% endfor %}
            </ul>

            <nav aria-label="Navigate list of deployments" class="mt-5">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&lang;&lang; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lang; Previous</a>
                    </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ num }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{num}}"">
                            {{ num }}
                        </a>
                    </li>
                    {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &rang;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &rang;&rang;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <div class="col p-0">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="significat-events-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#significat-events"
                                aria-expanded="false" aria-controls="significat-events">
                                Significant events
                            </button>
                        </h5>
                    </div>

                    <div id="significat-events" class="collapse show" aria-labelledby="significat-events-header"
                        data-parent="#accordion">
                        <ul class="list-group">
                            {% for event in significant_events %}
                            <li class="list-group-item deployment-child" data-deployment="{{ event.update.deployment }}">
                                <a href="{% url 'change-form' event.uuid %}">
                                    {{ event }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="iops-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#iops"
                                aria-expanded="false" aria-controls="iops">
                                Iops
                            </button>
                        </h5>
                    </div>
                    <div id="iops" class="collapse" aria-labelledby="iops-header" data-parent="#accordion">
                        <ul class="list-group">
                            {% for iop in iops %}
                            <li class="list-group-item deployment-child" data-deployment="{{ iop.update.deployment }}">
                                <a href="{% url 'change-form' iop.uuid %}">
                                    {{ iop }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="collection-periods-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collection-periods" aria-expanded="false"
                                aria-controls="collection-periods">
                                CDPI
                            </button>
                        </h5>
                    </div>
                    <div id="collection-periods" class="collapse" aria-labelledby="collection-periods-header"
                        data-parent="#accordion">
                        <ul class="list-group">
                            {% for period in collection_periods %}
                            <li class="list-group-item deployment-child" data-deployment="{{ period.update.deployment }}">
                                <a href="{% url 'change-form' period.uuid %}">
                                    {{ period }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% related_changes change %}

{% block javascript %}
{{ block.super }}
<script>

    $(".deployment").click(function () {
        // Mark as active
        $('.deployment').removeClass('active');
        $(this).addClass('active');

        // Display Children
        var childLookup = '[data-deployment=' + $(this).attr('data-id') + ']';
        $('.deployment-child:not(' + childLookup + ')').hide();
        $('.deployment-child' + childLookup).show();
    })


</script>
{% endblock %}