{% extends "api_app/base_read.html" %}
{% load static %}
{% load model_helpers %}
{% load humanize %}

{% block header %}
  <div class="col">
    {% include 'snippets/breadcrumbs.html' with ancestors=ancestors %}

    <a href="{% spaceless %}
        {% if "back" in request.GET %} {{ request.GET.back }}
        {% else %}{% url back_button %}
        {% endif %}
        {% endspaceless %}">
      &larr; Back
    </a>
    <h1>{{ short_name | default:object.uuid }}</h1>
  </div>
{% endblock header %}

{% block main %}
  {% with main_class="col-lg-8" %}
    {{ block.super }}
  {% endwith %}
  
  {# Sidebar #}
  <aside class="col col-lg-4">
    <!-- {% if object.update.logo %}
    <h3>Logo</h3>
    <a href="{% url 'change-update' object.update.logo %}">
      {% if object.logo_path %}
      <img class="img-thumbnail" src="{{ object.logo_path | get_full_url }}" />
      {% else %}
      <span class="font-italic">(logo missing image)</span>
      {% endif %}
    </a> -->

    <!-- <hr />
    {% endif %} -->

    <h3>Activity</h3>
    {% include 'snippets/related_approval_logs.html' with approval_logs=object.approvallog_set.all show_notes=True%}

    <hr />

    <details class="small">
      <summary>Debug Data</summary>

      <pre>Update: {{ object.update | pprint }}</pre>
      <pre>Previous: {{ object.previous | pprint }}</pre>
    </details>

  </aside>
{% endblock main%}

{% block form %}
<br>
<!-- New Path -->
{% if gcmd_path.new_path %}
  <p class="gcmd-label">New Path</p>
  <p class="gcmd-path">
    {% for attribute in gcmd_path.path %}
      <span style="color:{% if attribute.has_changed %} #D6311C {% else %} black {% endif %};">{{attribute.new_value}}</span>
      {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
    {% endfor %}
  </p>
  <p class="gcmd-footer">
    {% for attribute in gcmd_path.path %}
      <span style="color:{% if attribute.has_changed %} #D6311C {% else %} rgba(68, 63, 63, 0.64) {% endif %};">{{attribute.key}}</span>
      {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
    {% endfor %}
  </p>
{% endif %}

<!-- Old Path -->
{% if gcmd_path.old_path %}
  <p class="gcmd-label">Old Path</p>
  <p class="gcmd-path">
    <!-- TODO: Put inline styles in classes, only add class if the value has changed -->
    {% for attribute in gcmd_path.path %}
      <span style="color:{% if attribute.has_changed %} #D6311C {% else %} black {% endif %};">{{attribute.old_value}}</span>
      {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
    {% endfor %}
  </p>
  <p class="gcmd-footer">
    {% for attribute in gcmd_path.path %}
      <span style="color:{% if attribute.has_changed %} #D6311C {% else %} rgba(68, 63, 63, 0.64) {% endif %};">{{attribute.key}}</span>
      {% if not forloop.last %} <span style="color: black;"> > </span> {% endif %}
    {% endfor %}
  </p>
{% endif %}

<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p class="gcmd-label">Recommended GCMD Keyword Changes</p>
<p>We have found {{affected_records | length }} potentially affected record(s)</p>
  {% if affected_records %}
    <form action="{% url 'change-gcmd' object.uuid %}" method="post" id="connectionForm">
      <table class="affected-table">
        <tr class="affected-row">
          <th>Affected Record</th>
          <th>Category</th>
          <th>Status</th>
          <th>Previously Associated</th>
          <th>Associate With Keyword</th>
        </tr>
        {% for record in affected_records %}
          <tr>
            <!-- TODO: href should follow {% url 'some-url-name' arg arg2 as the_url %} -->
              <td><a href="{{record.link}}">{{record.row.short_name}}</a></td>
            </a>
            <td>{{record.category}}</td>
            <td>{{record.status}}</td>
            <td>{{record.is_connected}}</td>
            <td>
              {% csrf_token %}
              <!-- Connect/Ignore radio buttons -->
              <input type="radio" class="associate-radio" id="connect-{{record.row.short_name}}" name="choice-{{record.row.uuid}}" value="True" required {% ifequal record.current_selection True %} checked {% endifequal %} {% if action == 'Delete' %} disabled {% endif %}>
              <label for="connectChoice-{{record.row.short_name}}">Yes</label>
              <input type="radio" class="associate-radio" id="ignore-{{record.row.short_name}}" name="choice-{{record.row.uuid}}" value="False" required {% ifequal record.current_selection False %} checked {% endifequal %} {% if action == 'Delete' %} disabled {% endif %}>
              <label for="ignoreChoice-{{record.row.short_name}}">No</label>
            </td>
          </tr>
          <br>
        {% endfor %}
      </table>
      <!-- TODO: Ask Ed for a better way to do this, you could technically trick the backend. -->
      <!-- Pass the UUIDs to the backend. -->
      {% with affected_records|last as last %}
        <input type="hidden" name="related_uuids" value="{{last.uuids}}">
      {% endwith %}
      <button class="submit-button btn" id="saveButton" name="user_button" value="Save">Save Progress</button>
      <button type="submit" class="submit-button right-side btn" id="doneButton" name="user_button" value="Publish">Save & Publish</button>
    </form>
  {% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  function convertToBool(bool) {
    return bool !== undefined;
  }
  function getOtherChoice(choice) {
    var choiceType = choice.attr("id").split('-')[0];
    if (choiceType === "connect") {
      return choice.attr("id").replace("connect", "ignore");
    }
    else if (choiceType === "ignore") {
      return choice.attr("id").replace("ignore", "connect");
    }
  }

  $(document).ready(function() {
    var checkButtons = {}
    $(".associate-radio").each(function(index) {
        checkButtons[$(this).attr("id")] = convertToBool($(this).attr("checked"));
    });

    // Deselectable radio buttons
    $(".associate-radio").click(function(event) {
      console.log($(this).attr("id"), " Current Selection: ", checkButtons[$(this).attr("id")]);
      var otherID = getOtherChoice($(this));
      checkButtons[otherID] = false;
      var $otherChoice = $('#'+otherID).prop("checked", false);

      // If the option is already selected, deselect it.
      if( checkButtons[$(this).attr("id")] ) {
        $(this).prop("checked", false);
        checkButtons[$(this).attr("id")] = false;
      }
      else {
        $(this).prop("checked", true);
        checkButtons[$(this).attr("id")] = true;
      }
    });

    // Form validation for 'Save & Publish' button
    $("#doneButton").click(function(event) {
      $("input.associate-radio").each(function(index) {
        if (!$(this).prop("validity").valid){
            $(this).reportValidity();
            return false;
        }
      });

      // Submit button conformation
      confirm_response = confirm("Confirm these changes? The GCMD Object and its relationships to CASEI objects will be published!");
      if (confirm_response == true) {
        $('#connectionForm').submit();
      }
      else {
        event.preventDefault();
        return false;
      }
    });

    // Save Button Form Submission
    $("#saveButton").click(function(event) {
        $(".associate-radio").removeAttr("required");
        $('#connectionForm').submit();
    });
  });
</script>
{% endblock form %}
