{% extends "./layout.html" %}
{% load crispy_forms_tags static %}

{% comment %}
This template provides the general layout for data views.
These are views that have a header (describing what data is
being displayed) and a body (eg a form or table).
{% endcomment %}


{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
{{ model_form.media.css }}
{% endblock %}

{% block page %}
<header class="mx-3 p-3 sticky-top bg-light border-bottom">
  
  <div class="row align-items-center">
    {% block maintabs %}{% endblock maintabs %}
  </div>

  <div class="row align-items-center">
    {% block header %}{% endblock header %}
  </div>

  <div class="row flex-row-reverse">
    <!-- TODO: Actions should only appear on edit forms -->
      {% block actions %}{% endblock actions %}
  </div>
</header>

{% block tabs %}{% endblock tabs %}

<div class="row mx-3">
  {% block main %}
  <main class="{% firstof class 'col' %}">
    {% block form %}{% endblock form %}
  </main>
  {% endblock main %}
</div>

{% endblock page %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  {{ model_form.media.js }}
  <script>
  // Override all multiselect elements to use this library
  $(document).ready(function() {
    $(".form-group select").select2();
    $(".form-group select[readonly]").select2("enable", false)
  });
  </script>
{% endblock %}
