{% extends "api_app/base.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}

{% block page %}

<div class="container-fluid">
  <div class="row mt-4 mb-5">
    <div class="col-auto mr-auto">
      <h3>Draft Counts</h3>
      <ul>
        <li>
          Campaigns: {{ published_counts.campaign }}
        </li>
        <li>
          Deployments: {{ change_counts.deployment }}
        </li>
        <li>
          Platforms: {{ change_counts.platform }}
        </li>
        <li>
          Instruments: {{ change_counts.instrument }}
        </li>
      </ul>
      <h3>Published Counts</h3>
        <ul>
          <li>
            Campaigns: {{ published_counts.campaign }}
          </li>
          <li>
            Deployments: {{ published_counts.deployment }}
          </li>
          <li>
            Platforms: {{ published_counts.platform }}
          </li>
          <li>
            Instruments: {{ published_counts.instrument }}
          </li>
        </ul> 
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" href="/admin/drafts/add/campaign">Add new campaign + </a>
    </div>
  </div>
</div>

<h3>Recent Draft Campaigns</h3>
<div class="container-fluid">
  {% render_table table %}
</div>

<h3>Recent Activities</h3>
<ul>
  {% for activity in activity_list %}
  <li>
    <span title={{ activity.date|date:"c" }}>{{ activity.date | naturaltime }}</span>:
    {{ activity.get_action_display }}
    <a href="{% url 'change-form' activity.change.uuid %}">
      {{ activity.change.model_name }}
      {% firstof activity.change.update.short_name activity.change.update.long_name activity.change.uuid %}
    </a>
    {% if activity.user %} by {{ activity.user }}{% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}