<style>
    p {
        font-size: 14px;
        font-weight: 400;
    }

    h2, h3, p {
        padding-left: 50px;
    }

    h2.gcmd-keyword {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .gcmd-inline-label {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
    }

    .gcmd-path {
        font-size: 14px;
        line-height: 24px;
    }

    .gcmd-changed {
        color: #D6311C !important;
    }

    .gcmd-footer {
        font-size: 10px;
        color: rgba(68, 63, 63, 0.64);
        text-indent: 15px;
    }


</style>