{% load email_extras %}
{% load static %}
{% include "email_style.html" %}

<p>
  This is a notification that {{ total_count }} GCMD keywords were modified, deleted, or newly created.
  To review Changes, go to <a href="admg.nasa-impact.net">Review GCMD Changes.</a>
</p>

{% for scheme in keywords_by_scheme %}
  <h1>{{ scheme.scheme }} ({{ scheme.total_count }})</h1>
  <!-- Created Keywords -->
  <h2> Created Keywords ({{ scheme.create_keywords | length }}) </h2>
  {% for keyword in scheme.create_keywords %}
    {% with gcmd_path=keyword|get_gcmd_path %}
        {% if keyword.recommendation_set %}
        <!-- If recommended connections, link the GCMD keyword page so operator can view them.-->
          {% url 'change-gcmd' keyword.uuid as relative_url%}
            <h3 class="gcmd-keyword">
              <a href="{{relative_url | get_absolute_url}}">{{ keyword | get_gcmd_short_name }}</a>
            </h3>
        <!-- If no recommended connections, just link the published keyword page.-->
        {% else %}
          {% url 'change-update' keyword.uuid as relative_url%}
            <h3 class="gcmd-keyword">
              <a href="{{relative_url | get_absolute_url}}">{{ keyword | get_gcmd_short_name }}</a>
            </h3>
        {% endif %}
        {% include 'snippets/gcmd_path.html' with preliminary_text="New Path:" default_class="gcmd-inline-label" gcmd_path_class="gcmd-path" path_attribute="new_value" gcmd_path=gcmd_path %}
        {% include 'snippets/gcmd_path.html' with preliminary_text="" default_class="gcmd-footer" gcmd_path_class="gcmd-footer" path_attribute="key" gcmd_path=gcmd_path %}
      <p>Affected Records: {{ keyword.recommendation_set.all.count }}</p>
    {% endwith %}
  {% endfor %}

  <!-- Updated Keywords -->
  <h2> Updated Keywords ({{ scheme.update_keywords | length }}) </h2>
  {% for keyword in scheme.update_keywords %}
    {% with gcmd_path=keyword|get_gcmd_path %}
      {% if keyword.recommendation_set %}
        {% url 'change-gcmd' keyword.uuid as relative_url%}
          <h3 class="gcmd-keyword">
          <a href="{{relative_url | get_absolute_url}}">{{ keyword | get_gcmd_short_name }}</a>
          </h3>
      {% else %}
        {% url 'change-update' keyword.uuid as relative_url%}
          <h3 class="gcmd-keyword">
          <a href="{{relative_url | get_absolute_url}}">{{ keyword | get_gcmd_short_name }}</a>
          </h3>
      {% endif %}
      {% include 'snippets/gcmd_path.html' with preliminary_text="New Path:" default_class="gcmd-inline-label" gcmd_path_class="gcmd-path" path_attribute="new_value" gcmd_path=gcmd_path %}
      {% include 'snippets/gcmd_path.html' with preliminary_text="Old Path:" default_class="gcmd-inline-label" gcmd_path_class="gcmd-path" path_attribute="old_value" gcmd_path=gcmd_path %}
      {% include 'snippets/gcmd_path.html' with preliminary_text="" default_class="gcmd-footer" gcmd_path_class="gcmd-footer" path_attribute="key" gcmd_path=gcmd_path %}
      <p>Affected Records: {{ keyword.recommendation_set.all.count }}</p>
    {% endwith %}
  {% endfor %}

  <!-- Deleted Keywords -->
  <h2> Deleted Keywords ({{ scheme.delete_keywords | length }}) </h2>
  {% for keyword in scheme.delete_keywords %}
    {% with gcmd_path=keyword|get_gcmd_path %}
      {% if keyword.recommendation_set %}
        {% url 'change-gcmd' keyword.uuid as relative_url%}
          <h3 class="gcmd-keyword">
            <a href="{{relative_url | get_absolute_url}}">{{ keyword | get_gcmd_short_name }}</a>
          </h3>
      {% else %}
        {% url 'change-update' keyword.uuid as relative_url%}
          <h3 class="gcmd-keyword">
            <a href="{{relative_url | get_absolute_url}}">{{ keyword | get_gcmd_short_name }}</a>
          </h3>
      {% endif %}
      {% include 'snippets/gcmd_path.html' with preliminary_text="Old Path:" default_class="gcmd-inline-label" gcmd_path_class="gcmd-path" path_attribute="old_value" gcmd_path=gcmd_path %}
      {% include 'snippets/gcmd_path.html' with preliminary_text="" default_class="gcmd-footer" gcmd_path_class="gcmd-footer" path_attribute="key" gcmd_path=gcmd_path %}
      <p>Affected Records: {{ keyword.recommendation_set.all.count }}</p>
    {% endwith %}
  {% endfor %}
{% endfor %}