{% load email_extras %}
{% load static %}
{% include "email_style.html" %}

<p>
  This is a notification that <strong>{{ total_count }} GCMD keywords</strong> were newly created, modified, or deleted.<br>
  To review, go to <a href="https://{{ hostname }}{% url 'gcmd-list' %}">Review GCMD Changes.</a>
</p>

{% for scheme in keywords_by_scheme %}
  <h2>{{ scheme.scheme|format_scheme_for_display }} ({{ scheme.scheme_count }})</h2>

  <!-- Created keywords -->
  <h3>Created Keywords: {{ scheme.create_keywords | length }}</h3>
  
  <!-- Updated Keywords -->
  <h3>Updated Keywords: {{ scheme.update_keywords | length }}</h3>
  
  <!-- Deleted Keywords -->
  <h3>Deleted Keywords: {{ scheme.delete_keywords | length }}</h3>
{% endfor %}

<!-- Auto-Published keywords -->
<h2 class="autopublished">Auto-Published Keywords ({{ autopublished_keywords | length }})</h2>
<p>These keywords were created, updated, or deleted but didn't have any CASEI objects associated
   with them. These keywords do not require an admin to review them.
</p>
{% for scheme in keywords_by_scheme %}
  <h3>{{ scheme.scheme|format_scheme_for_display }}: {{ scheme.published_keywords | length }}</h3>
{% endfor %}
