.active {
  font-weight: 700;
}

.inline-link {
  color: black;
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.campaign-summary {
  li.list-group-item {
    padding-bottom: 0;
  }
  .list-group-item-primary {
    padding-left: 15px; /* 21 - border-width */
    border-left: 6px solid;
    &:hover {
      color: inherit;
    }
    .row, .col {
      border-color: #6c757d !important;
    }
  }
  
  dt {
    font-size: 80%;
    text-transform: uppercase;
    color: #6c757d;
  }
  dd {
    margin-bottom: 1em;
  }
  .caret {
    display: none;
  }
  .show-caret .caret {
    display: inline;
  }
}