{% extends "api_app/base_read.html" %}
{% load active_link_tags %}

{% block header %}
  <div class="col">
    <a href="{% url 'change-list' 'campaign' %}">&larr; Back</a>
    <h1>Campaign {% firstof object.update.short_name object.update.uuid %}</h1>
  </div>
{% endblock header %}

{% block actions %}
  <div class="px-1">
    {% include "snippets/approval_dropdown.html" %}
  </div>

  <div class="px-1">
    <a href="{% url 'change-update' object.uuid %}?back={{ request.path }}" class="btn btn-outline-secondary ml-3">
      {% if object.is_locked %}View{% else %}Edit{% endif %} campaign details
    </a>
  </div>
{% endblock actions %}

{% block tabs %}
  <div class="row m-3">
    {# Tabs #}
    <div class="col">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link {% active_link 'campaign-detail' 'active' pk=object.uuid strict=True %}" href="{% url 'campaign-detail' object.uuid %}" role="tab" aria-controls="details" aria-selected="true">
            Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'doi-approval' 'active' pk=object.uuid strict=True %}" href="{% url 'doi-approval' object.uuid %}" role="tab" aria-controls="dois" aria-selected="false">
            DOIs
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock tabs %}

{% block main %}
  <div class="campaign-summary col">
    <ul class="list-group" id="deployments-list-draft">
      <li class="list-group-item d-flex pb-2">
        <h4>Deployments</h4>

        <div class="h5 align-self-center">
          <span class="badge badge-primary badge-pill ml-2" id="deployments-badge"></span>
        </div>
        
        <div class="ml-auto">
          <a class="btn btn-primary" href="{% url 'change-add' 'deployment' %}?campaign={{ object.uuid }}&back={{ request.path }}">+</a>
        </div>
      </li>
      {% for deployment in deployments %}
      <li class="list-group-item list-group-item-action justify-content-between deployment cursor-pointer show-caret" data-id="{% firstof deployment.model_instance_uuid or deployment.uuid %}">
        {% include "snippets/campaign_accordian_cards/deployment.html" with change=deployment %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="campaign-summary col">
    <div id="accordion">
      <!-- IOPs -->
      <div class="card">
        <div class="card-header d-flex justify-content-between" id="iops-header">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#iops" aria-expanded="false" aria-controls="iops">
              IOPs
            </button>
            <span id="iops-badge" class="badge badge-primary badge-pill"></span>
          </h5>
          <a class="add-deployment-child btn btn-primary" href="{% url 'change-add' 'iop' %}?back={{ request.path }}">+</a>
        </div>
        <div id="iops" class="collapse" aria-labelledby="iops-header" data-parent="#accordion">
          <ul class="list-group">
            {% for iop in iops %}
            <li class="list-group-item deployment-child" data-deployment="{{ iop.update.deployment }}">
              {% include "snippets/campaign_accordian_cards/iop_se.html" with change=iop %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- Significant Events -->
      <div class="card">
        <div class="card-header d-flex justify-content-between" id="significant-events-header">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#significant-events"
                aria-expanded="false" aria-controls="significant-events">
                Significant events
            </button>
            <span id="significant-events-badge" class="badge badge-primary badge-pill"></span>
          </h5>
          <a class="add-deployment-child btn btn-primary" href="{% url 'change-add' 'significant_event' %}?back={{ request.path }}">+</a>
        </div>
        <div id="significant-events" class="collapse" aria-labelledby="significant-events-header" data-parent="#accordion">
          <ul class="list-group">
            {% for event in significant_events %}
            <li class="list-group-item deployment-child" data-deployment="{{ event.update.deployment }}">
              {% include "snippets/campaign_accordian_cards/iop_se.html" with change=event %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- CDPIs -->
      <div class="card">
        <div class="card-header d-flex justify-content-between" id="collection-periods-header">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collection-periods" aria-expanded="true" aria-controls="collection-periods">
              CDPIs
            </button>
            <span id="collection-periods-badge" class="badge badge-primary badge-pill"></span>
          </h5>
          <a class="add-deployment-child btn btn-primary" href="{% url 'change-add' 'collection_period' %}?back={{ request.path }}">+</a>
        </div>
        <div id="collection-periods" class="collapse show" aria-labelledby="collection-periods-header" data-parent="#accordion">
          <ul class="list-group">
            {% for collection_period in collection_periods %}
            <li class="list-group-item deployment-child" data-deployment="{{ collection_period.update.deployment }}">
              {% include "snippets/campaign_accordian_cards/collection_period.html" with change=collection_period %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}

{% block javascript %}
  {{ block.super }}
  <script>
    $('#deployments-badge').text($('#deployments-list-draft li').length - 1)
    $('.deployment').click(function () {
      // Mark as active
      $('.deployment').removeClass('list-group-item-primary');
      $(this).addClass('list-group-item-primary');

      // Display children
      var deploymentId = $(this).attr('data-id');
      var childLookup = '[data-deployment=' + deploymentId + ']';
      $('.deployment-child:not(' + childLookup + ')').hide();
      $('.deployment-child' + childLookup).show();

      // Update count badges
      ['#significant-events', '#iops', '#collection-periods'].forEach(function (value) {
        var count = $(value + ' li' + childLookup).length;
        $(value + '-badge').text(count);
        if (count === 0) {
          $(value + '-header > * > button').addClass('disabled');
          $(value + '-badge').addClass('bg-secondary');
        } else {
          $(value + '-header > * > button').removeClass('disabled');
          $(value + '-badge').removeClass('bg-secondary');
        }

      });

      // Update add buttons
      $('.add-deployment-child').attr('href', function (index, href) {
        var url = new URL(href, window.location);
        url.searchParams.set('deployment', deploymentId);
        return url.pathname + url.search;
      })
    })

    // Select first
    $('.deployment:first').click()
  </script>
{% endblock %}
