{% extends "./base_list.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}


{% block header %}
<div class="col">
  <h1> Published {{ display_name }} Items</h1>
</div>
{% endblock header %}

{% block main %}
  <div class="mt-2 w-100">
    {% if filter %}
      <form action="" method="get" class="form form-inline">
        {{ filter.form | crispy }}
        <button class="btn btn-secondary btn-sm">Filter</button>
        <a 
          class="btn btn-light btn-sm" 
          href="{% url 'published-list' view_model %}"
        >
          Clear filters
        </a>
      </form>
    {% endif %}
    {% render_table table %}
  </div>
{% endblock %}
