/* Utils */
a.disabled {
  pointer-events: none;
}

.active {
  font-weight: 700;
}
.inline-link {
  text-decoration: underline;
}
.cursor-pointer {
  cursor: pointer;
}

select.selectmultiple,
.select2-selection {
  overflow: auto;
  resize: auto;
}

dt {
  font-size: 80%;
  text-transform: uppercase;
  color: #6c757d;
}

/* Views */
.campaign-summary {
  li.list-group-item {
    padding-bottom: 0;
  }
  .list-group-item-primary,
  .list-group-item-primary:hover {
    color: inherit;
  }
  .list-group-item-primary .row,
  .list-group-item-primary .col {
    border-color: #6c757d !important;
  }
  .list-group-item-primary {
    padding-left: 15px; /* 21 - border-width */
    border-left: 6px solid;
  }
  dd {
    margin-bottom: 1em;
  }
  .caret {
    display: none;
  }
  .show-caret .caret {
    display: inline;
  }
}

.table-doi {
  td {
    min-width: 12em;
  }
}

$changed-item-color: rgba(170, 170, 0, 0.5);

.changed-item {
  background-color: $changed-item-color;

  & :disabled {
    background-color: $changed-item-color;
  }

  & + span {
    span.select2-container--default,
    span.select2-container--disabled,
    span.select2-selection--single,
    span.select2-selection--multiple {
      background-color: $changed-item-color;
    }
  }
}

.z-1060 {
  z-index: 1060;
}
