<ul class="list-inline">
    {% if object.model_name == 'Campaign' %}
    <li class="list-inline-item m-2">
        <a class="btn btn-sm btn-primary" href="{% url 'change-add' 'deployment' %}?campaign={{ object.uuid }}">
            Add New Deployment &plus;
        </a>
    </li>
    {% elif object.model_name == 'Deployment' %}
    <li class="list-inline-item m-2">
        <a class="btn btn-sm btn-primary" href="{% url 'change-add' 'iop' %}?deployment={{ object.uuid }}">
            Add New IOP &plus;
        </a>
    </li>
    <li class="list-inline-item m-2">
        <a class="btn btn-sm btn-primary" href="{% url 'change-add' 'significant_event' %}?deployment={{ object.uuid }}">
            Add New Significant Event &plus;
        </a>
    </li>
    <li class="list-inline-item m-2">
        <a class="btn btn-sm btn-primary" href="{% url 'change-add' 'collection_period' %}?deployment={{ object.uuid }}">
            Add New CDPI &plus;
        </a>
    </li>
    {% endif %}
</ul>
