<ul class="list-inline">
    {% if object.model_name == 'Campaign' %}
    <li class="list-inline-item m-2">
        <a class="btn btn-sm btn-primary" href="{% url 'change-add' 'deployment' %}?campaign={{ object.uuid }}">
            Add New Deployment +
        </a>
    </li>
    {% elif object.model_name == 'Deployment' %}
    <li class="list-inline-item m-2">
        <a class="btn btn-sm btn-primary" href="{% url 'change-add' 'iop' %}?deployment={{ object.uuid }}">
            Add New IOP +
        </a>
    </li>
    <li class="list-inline-item m-2">
        <a class="btn btn-sm btn-primary" href="{% url 'change-add' 'significantevent' %}?deployment={{ object.uuid }}">
            Add New Significant Event +
        </a>
    </li>
    <li class="list-inline-item m-2">
        <a class="btn btn-sm btn-primary" href="{% url 'change-add' 'collectionperiod' %}?deployment={{ object.uuid }}">
            Add New CDPI +
        </a>
    </li>
    {% endif %}
</ul>