<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% for change in ancestors %}
        {% if change.model_name == 'Campaign' %}
        <li class="breadcrumb-item">
            <a href="{% url 'campaign-detail' change.uuid %}">
                Dashboard
            </a>
        </li>
        {% endif %}
        
        <li 
        class="breadcrumb-item {% if change.uuid == object.uuid %}active{% endif %}"
        {% if change.uuid == object.uuid %}aria-current="page"{% endif %}
        >
        {% with label=change.model_name %}
            {% if change.uuid == object.uuid %}
                {{ label }}
            {% else %}
                <a href="{{ change.uuid }}">{{ label }}</a>
            {% endif %}
        {% endwith %}
        </li>
    {% endfor %}
    </ol>
</nav>