<div class="col-lg-4 border">
  <h6 class="text-uppercase text-muted my-3">{{ name }}</h6>
  <div class="row">
    <div class="col-sm-3">
      <span class="lead font-weight-bold text-nowrap">
        {{ total }}
      </span>
      <p class="small text-muted">Total</p>
    </div>
    <div class="col-sm-3">
      <span class="lead font-weight-bold text-nowrap">
        {{ in_review }}
      </span>
      <p class="small text-muted">In review</p>
    </div>
    <div class="col-sm-3">
      <span class="lead font-weight-bold text-nowrap">
        {{ in_admin_review }}
      </span>
      <p class="small text-muted">In admin review</p>
    </div>
    <div class="col-sm-3">
      <span class="lead font-weight-bold text-nowrap">
        {{ published }}
      </span>
      <p class="small text-muted">Pub&shy;lished</p>
    </div>
  </div>
</div>