{% load template_extras %}

<div class="col mt-5">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: white;">
        <li class="breadcrumb-item"><span class="{% if draft_status == 'Created' %}badge badge-pill badge-warning ml-1{% endif %}">Created</span></li>
        <li class="breadcrumb-item"><span class="{% if draft_status == 'In Progress' %}badge badge-pill badge-warning ml-1{% endif %}">In Progress</span></li>
        <li class="breadcrumb-item"><span class="{% if draft_status == 'In Review' %}badge badge-pill badge-warning ml-1{% endif %}">In Review</span></li>
        <li class="breadcrumb-item"><span class="{% if draft_status == 'In Admin Review' %}badge badge-pill badge-warning ml-1{% endif %}">In Admin Review</span></li>
        <li class="breadcrumb-item"><span class="{% if draft_status == 'Published' %}badge badge-pill badge-success ml-1{% endif %}">Published</span></li>
    </ol>
    </nav>
</div>