<div class="col-lg-4 border">
  <p class="text-uppercase my-3">{{ name }}</p>
  <div class="row">
    <div class="col-sm-3">
      <span class="lead font-weight-bold text-nowrap">
        {{ total }}
      </span>
      <p>Total</p>
    </div>
    <div class="col-sm-3">
      <span class="lead font-weight-bold text-nowrap">
        {{ in_review }}
      </span>
      <p>In review</p>
    </div>
    <div class="col-sm-3">
      <span class="lead font-weight-bold text-nowrap">
        {{ in_admin_review }}
      </span>
      <p>In admin review</p>
    </div>
    <div class="col-sm-3">
      <span class="lead font-weight-bold text-nowrap">
        {{ published }}
      </span>
      <p>Pub&shy;lished</p>
    </div>
  </div>
</div>