{% load humanize %}
<div class="card">
  <small>Click each item to edit.</small>
  <ul class="list-group list-group-flush">
    
    {% for key, values in related_fields.items %}
    <li class="list-group-item">
      <h5>{{ key }}</h5>
      {% comment %} {% with values|first as v %}{{ v.content_type.model }}{% endwith %} {% endcomment %}
      {% comment %} TODO get 'website' to be promgramtically determined {% endcomment %}
      <a class="btn-sm btn-primary" href="{% url 'mi-change-add' "alias" %}">
        Add New +
      </a>
      <ul>
      {% for object in values %}
        <li><a href="{% url 'mi-change-update' object.uuid %}" class="btn btn-outline-secondary ml-3">
        {% if object.content_type.model == 'website' %}
        {{ object.update.title }}
        {% else %}
        {{ object }}
        {% endif %}
        </a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
    </ul>
</div>