{% load humanize %}
<div class="card">
  <small>Click each item in the list to edit it.</small>
  <ul class="list-group list-group-flush">
    
    {% for key, values in related_fields.items %}
    <li class="list-group-item">
      <h5>{{ key|title }}</h5>
      <a class="btn-sm btn-primary" 
      href="{% url 'change-add' key %}?{% if key == 'alias' %}content_type={{ object.content_type_id }}&object_id={{ object.uuid }}{% elif key == 'campaignwebsite' %}campaign={{ object.uuid }}{% endif %}&back={{ request.path }}">
        Add New +
      </a>
      <div class="wraptext">
      <ul class="list-group list-group-flush col text-truncate">
      {% for object in values %}
        <li class="list-group-item"><a href="{% url 'change-update' object.uuid %}?back={{ request.path }}" class="ml-3">
        {% if object.content_type.model == 'campaignwebsite' %}
        {{ object.title }}
        {% else %}
        {{ object.update.short_name }}
        {% endif %}
        </a></li>
        {% endfor %}
      </ul>
      </div>
    </li>
    {% endfor %}
    </ul>
</div>