{% extends "./base.html" %}

{% block body %}
<dl>
    <dt>Region</dt>
    <dd>
        <span title="Region">{{ change.update.region_description }}</span>
    </dd>
    
    <dt>Date Range</dt>
    <dd>
        <span title="Start Date">{{ change.update.start_date }}</span> 
        - 
        <span title="End Date">{{ change.update.end_date }}</span> 
    </dd>
    
    <dt>Description</dt>
    <dd>
        <span title="Description">{{ change.update.description }}</span> 
    </dd>
</dl>
{% endblock%}
