{% extends "./change_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load template_extras %}

{% block header %}
  <div class="col">
    <h1>{{ object.short_name }} Details</h1>
  </div>
  <a href="{% spaceless %}
    {% if "back" in request.GET %} {{ request.GET.back }}
    {% else %}{% url 'canonical-list' object|classname %}
    {% endif %}
    {% endspaceless %}">
    &larr; Back
  </a>
{% endblock header %}

{% block actions %}
  <div class="px-1">

    <button class="btn btn-secondary" data-toggle="modal" data-target="#deletePopup">
      Delete
    </button>
  </div>
{% endblock actions %}

{% block main %}
  {% with main_class="col-lg-8" %}
    {{ block.super }}
  {% endwith %}


  <h4>Published Details View (Placeholder)</h4>

{% endblock main %}