{% extends "./change_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load template_extras %}

{% block header %}
  <div class="col">
    <a href="{% url 'canonical-list' view_model %}">&lt; Back to {{ display_name }}</a>
    <h1 class="my-5">{{ object.short_name }}</h1>
  </div>
{% endblock header %}

{% block actions %}
  <div class="px-1">
    {% if not has_progress_draft %}
    <a href="{% url 'canonical-draft-edit' view_model object.uuid %}?back={{ request.path }}" class="btn btn-primary ml-3">
      Create Edit Draft
      </a>
    {% endif %}
    <button class="btn btn-secondary" data-toggle="modal" data-target="#deletePopup">
      Delete
    </button>
  </div>
{% endblock actions %}
{# Sidebar #}
{% block form %}
  {{model_form | crispy }}
{% endblock form %}

